.container-fluid {
  background-color: white;
}

.articles {
  border-color: darkgray !important;
  border: solid thin;
  border-radius: 7px;
  padding: 10px;
}

.articles:hover {
  cursor: pointer;
}
